*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: inherit; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

.heading-primary {
  text-transform: uppercase;
  text-align: center; }
  .heading-primary--big {
    font-size: 8rem;
    color: #fff; }
  .heading-primary--medium {
    font-size: 5rem; }

.heading-secondary {
  text-transform: lowercase; }
  .heading-secondary--medium {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    color: #e9587f; }

.shadow--1 {
  box-shadow: 3px 3px 5px 6px #000; }

.text-shadow--1 {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

.text-shadow--2 {
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2); }

.text-shadow--3 {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }

.active--link:link,
.active--link:visited {
  background-color: rgba(255, 255, 255, 0.973);
  color: #e9587f;
  height: 5rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.festival-preview {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }
  .festival-preview__social-icons {
    height: 100%;
    padding-top: 5rem; }

.social-icon {
  display: inline-flex;
  align-content: space-between; }
  .social-icon__svg {
    margin-right: 2rem;
    height: 4.5rem;
    width: 4.5rem; }
    .social-icon__svg--email {
      fill: #e9587f; }

.map {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  background-color: #e9587f;
  color: white; }
  .map__container {
    margin-top: 3rem;
    border-radius: 25px 25px;
    overflow: hidden;
    height: 50rem;
    width: 100rem;
    border: 1px solid white;
    box-shadow: 1px 1px #eee;
    text-align: center; }
    .map__container-image {
      height: inherit;
      width: inherit;
      border: 0; }

.header {
  width: 100%;
  background-color: rgba(50, 187, 229, 0.95); }

.navigation {
  width: 100%;
  padding: 1.10rem 0 1.10rem 0; }
  .navigation__logo {
    transform: all .5s;
    width: auto;
    font-size: 2rem;
    margin: 0rem 2rem 0 2rem; }
  .navigation__logo-svg {
    transition: all 1.5s ease;
    padding: 0;
    margin: 0;
    height: 60px;
    width: 60px;
    fill: white; }
  .navigation__logo-svg:hover {
    fill: #e9587f;
    transform: rotate(360deg);
    padding: 5px; }
  .navigation__list {
    list-style: none;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.75rem;
    letter-spacing: 2px; }
  .navigation__link {
    color: #fff; }
    .navigation__link:link, .navigation__link:visited {
      margin: 1rem;
      text-decoration: none; }
    .navigation__link:hover, .navigation__link:active {
      color: rgba(233, 88, 127, 0.8);
      transform: translateY(-5px);
      border-bottom: solid 0.2rem #e9587f;
      padding-bottom: 1rem; }
    .navigation__link-active {
      background-color: rgba(255, 255, 255, 0.973);
      color: #e9587f;
      align-self: stretch;
      padding: 1.25rem;
      box-shadow: 10px 10px solid black; }
    .navigation__link-active:hover, .navigation__link-active:active {
      border-bottom: solid 0.2rem rgba(50, 187, 229, 0.95); }

.section-festival {
  position: relative;
  padding: 20rem 0; }

.section-location {
  padding: 0 .2rem 0 2rem;
  background-color: rgba(50, 187, 229, 0.95); }
  .section-location--invert {
    padding: 0 2rem 0 0.5rem;
    background-color: #e9587f !important; }
