.social-icon {
    display: inline-flex;
    align-content: space-between;


    &__svg {
        margin-right: 2rem;



        height: 4.5rem;
        width: 4.5rem;

        &--email {
            fill: $color-secondary-text;
        }

    }
    
}